<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FloatingGlucose.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="FloatingIcon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <FloatingGlucose.Properties.Settings>
      <setting name="nightscout_site" serializeAs="String">
        <value>https://...</value>
      </setting>
      <setting name="enable_exception_logging_to_stderr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="refresh_interval_in_seconds" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="gui_scaling_ratio" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="enable_alarms" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="alarm_urgent_high" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="alarm_high" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="alarm_low" serializeAs="String">
        <value>4.5</value>
      </setting>
      <setting name="alarm_urgent_low" serializeAs="String">
        <value>3.8</value>
      </setting>
      <setting name="enable_raw_glucose_display" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="glucose_units" serializeAs="String">
        <value>mmol</value>
      </setting>
      <setting name="stale_data_warning" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="stale_data_urgent" serializeAs="String">
        <value>30</value>
      </setting>
    </FloatingGlucose.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <!--<appSettings>
  <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
</appSettings>
-->
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>