<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FloatingGlucose.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="FloatingIcon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <FloatingGlucose.Properties.Settings>
      <setting name="NightscoutSite" serializeAs="String">
        <value>https://...</value>
      </setting>
      <setting name="EnableExceptionLoggingToStderr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RefreshIntervalInSeconds" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="GuiScalingRatio" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="EnableAlarms" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AlarmUrgentHigh" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="AlarmHigh" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="AlarmLow" serializeAs="String">
        <value>4.5</value>
      </setting>
      <setting name="AlarmUrgentLow" serializeAs="String">
        <value>3.8</value>
      </setting>
      <setting name="EnableRawGlucoseDisplay" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GlucoseUnits" serializeAs="String">
        <value>mmol</value>
      </setting>
      <setting name="AlarmStaleDataWarning" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="AlarmStaleDataUrgent" serializeAs="String">
        <value>30</value>
      </setting>
    </FloatingGlucose.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <!--<appSettings>
  <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
</appSettings>
-->
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>